
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color-white:#fff;
$color-black:#282828;
$color-grey:#dcdcdc;
$color-red:#e84129;
$beige:#f7f7f4;
$dark-blue:#205b6f;
$cyan: #6cb2eb;
// shadows
$box-shadow1:2px 2px 8px -1px $color-grey;
$box-shadow2:2px 2px 8px -1px $color-grey;


