@import "variables";
.Cart{
  width: 600px;
  height: 300px;
  overflow: scroll;
  position: fixed;
  border-radius: 3px;
  top:30%;
  left: 30%;
  background-color: $color-pink;
  padding: 10px;
}
.cart_close-icon{
  position: absolute;
  right: 15px;
  top:15px;
  width: 20px;
}
.CartItem{
  position: relative;
  p{
    width: 70%;
    white-space: pre-line;

  }
}
.Cart__item-img{
  width:80px;
  position:absolute;
  right:40px;
  top:-5px;
}
.Cart__btn{
  width: 48%;
  max-width: 300px;
  font-weight: 800;
  font-size: 110%;
  outline: none;
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 13px 5px;
  background-color: $color-green;
  transition: background-color 0.2s;
  position: relative;
  z-index: 1;
  box-shadow: 0 15px 30px 0 rgba(82, 141, 98, 0.6);
  cursor: pointer;
  margin:10px 5px;
}
.Cart__btn:disabled{
  opacity: 0.5;
}
.Cart__btn:disabled:hover{
  background-color: $color-green;
}
.Cart__btn:hover{
  background-color: $color-dark-green
}
.Cart__small-btn{
  width: 36px;
  font-weight: 800;
  font-size: 110%;
  outline: none;
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 8px 4px;
  background-color: $color-green;
  transition: background-color 0.2s;
  position: relative;
  z-index: 1;
  box-shadow: 0 15px 30px 0 rgba(82, 141, 98, 0.6);
  cursor: pointer;
  margin:5px;
}
.Cart__small-btn:hover{
  background-color: $color-dark-green
}
.cartIcon-container{}
@media screen and (max-width: 1024px) {
  .Cart{
    width: 500px;
    top:30%;
    left: 25%;
  }
}
@media screen and (max-width: 768px) {
  .Cart{
    width: 400px;
    top:30%;
    left: 20%;
  }
  .CartItem{
    p{
      width: 60%;
    }
  }
  .Cart__item-img{
    width: 100px;
    right: 35px;
  }
}
@media screen and (max-width: 512px) {
  .Cart{
    width: 300px;
    top:30%;
    left: 10%;
  }
}