@import 'variables';
.slider{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: left;
  background-color: $color-red;
  margin-top: 60px;
  width: 100%;
  height: 520px;
  box-sizing: border-box;
  overflow: hidden;
  img{
    transform: rotate(15deg);
    width: auto;
    height: 100%;
    position: absolute;
    right: -100px;
    top: -20px;
  }
}
.slider-container{
  background-color: $color-red;
  height: 580px;
  overflow: hidden;
}
.slider__text-block{
  z-index: 1;
  padding: 30px 5%;
  color: $color-white;
  h2{
    font-weight: 700;
    font-size: 250%;
  }
  span::before{
    content: "";
    width: 80px;
    display: inline-block;
    height: 2px;
    background: $color-white;;
    position: relative;
    left: -15px;
    top: -5px;
  }
  span{
    white-space: nowrap;
    margin-left: 15px;
  }
  span::after{
    content: "";
    width: 80px;
    display: inline-block;
    height: 2px;
    background: $color-white;;
    position: relative;
    right: -15px;
    top: -5px;

  }
  p{
    padding-top: 30px;
    font-size: 130%;
  }
}
.slider-arrows{
  cursor: pointer;
  font-family: "PT Sans Narrow", sans-serif;
  display: block;
  width: 30px;
  font-size: 130%;
  text-align: center;
  user-select: none;
  color: $color-white;
  z-index: 3;
}
.slider-arrows_left{
  position: absolute;
  left: 15px;
  top:50%;
}
.slider-arrows_right{
  position: absolute;
  right: 15px;
  top:50%;
}
.slider-dots{
  display: flex;
  width: 60px;
  justify-content: space-between;
  z-index: 3;
  position: absolute;
  bottom: 30px;
  left:48%;
  div{
    width: 10px;
    height: 10px;
    background-color: $color-white;
    border-radius: 50%;
    cursor: pointer;
  }
}
//slider CSStransition

.background-enter {

  transform: translate(100%);
}
.background-enter.background-enter-active {
  transform: translate(0%);
  transition: transform 600ms ease-in-out;
}
.background-leave {
  position: relative;
  top:-580px;
  transform: translate(0%);

}
.background-leave.background-leave-active {
  transform: translate(-100%);
  transition: transform 600ms ease-in-out;
}

@media screen and (max-width: 1024px) {
  .slider__text-block{
    box-sizing: border-box;
    padding: 30px 20%;
    span::before{
      width: 10px;
    }
    span{
      white-space: nowrap;
    }
    span::after{
      width: 10px;
    }
    p{
      padding-top: 30px;
      font-size: 130%;
    }
  }
}