@import 'variables';
.slider{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
  height: 730px;
  box-sizing: border-box;
  img{
    width: 100%;
  }
}
.slider__text-block{
  padding: 30px 30%;
  text-align: center;
  color: $color-white;
  h2{
    font-weight: 700;
    font-size: 250%;
  }
  span::before{
    content: "";
    width: 100px;
    display: inline-block;
    height: 2px;
    background: $color-white;;
    position: relative;
    left: -15px;
    top: -5px;
  }
  span{
    white-space: nowrap;
  }
  span::after{
    content: "";
    width: 100px;
    display: inline-block;
    height: 2px;
    background: $color-white;;
    position: relative;
    right: -15px;
    top: -5px;

  }
  p{
    padding-top: 30px;
    font-size: 130%;
  }
}
@media screen and (max-width: 1024px) {
  .slider__text-block{
    box-sizing: border-box;
    padding: 30px 20%;
    span::before{
      width: 10px;
    }
    span{
      white-space: nowrap;
    }
    span::after{
      width: 10px;
    }
    p{
      padding-top: 30px;
      font-size: 130%;
    }
  }
}