@import "variables";

.UseCertificate{
  margin: 80px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  h2{
    padding: 0 4%;
    color: $color-red;
  }
}
.UseCertificate__container{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.UseCertificate__boxes{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: $color-grey2;
  width: 70%;
  section{
    box-sizing: border-box;
    background-color: $color-pink;
    border-radius: 30px;
    padding: 20px;
    margin:20px;
    width: 300px;
    height: 250px;
  }
}
.UseCertificate__form{
  position: relative;
  top:-30px;
  right: 20px;
  width: 30%;
  height: 550px;
  background-color: $color-white;
  border-radius: 3px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  padding: 40px 50px 50px;
  input[type='text']{
    width: 100%;
    padding: 10px 12px;
    border-radius: 3px;
    outline: none;
    font-size: 100%;
    margin: 10px 0;
  }
  label{
    color: $color-red;
    font-size: 80%;
  }
}
.UseCertificate__good-to-know{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 60px 0;
  flex-direction: row;
  align-items: baseline;
  .UseCertificate__good-to-know_item{
    width: 30%;
  }
}
.UseCertificate__btn{
  width: 50%;
  max-width: 300px;
  font-weight: 800;
  font-size: 110%;
  outline: none;
  border: 0;
  border-radius: 3px;
  float: right;
  color: #fff;
  padding: 13px 5px;
  background-color: $color-green;
  transition: background-color 0.2s;
  position: relative;
  z-index: 1;
  box-shadow: 0 15px 30px 0 rgba(82, 141, 98, 0.6);
  cursor: pointer;
}
.UseCertificate__btn:hover{
  background-color: $color-dark-green
}
@media screen and (max-width: 1256px){
  .UseCertificate__boxes{
    section{
      width: 240px;
      font-size: 90%;
    }
  }
}
@media screen and (max-width: 1024px) {
  .UseCertificate__good-to-know{
    flex-direction: column;
    align-items: center;
    .UseCertificate__good-to-know_item{
      width: 95%;
    }
  }
  .UseCertificate__container{
    flex-direction: column;
    align-items: center;
  }
  .UseCertificate__boxes{
    width: 100%;
    font-size: 105%;
    section{
      background-color: $color-pink;
      border-radius: 30px;
      padding: 20px;
      margin:20px;
      width: 300px;
      height: 250px;
    }
  }
  .UseCertificate__form{
    width: 100%;
    position: static;
box-sizing: border-box;
  }
}
